In [ ]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import seaborn as sns
import json
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import r2_score
import warnings
warnings.filterwarnings('always')
warnings.filterwarnings('ignore')
import re
from nltk.corpus import stopwords
from sklearn.metrics.pairwise import linear_kernel
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:


ifile = open('/content/drive/MyDrive/Colab Notebooks/review.json') 

# read the first 100k entries
# set to -1 to process everything
stop = 100000

all_data = list()
for i, line in enumerate(ifile):
    if i%10000==0:
        print(i)
    if i==stop:
        break    
    # convert the json on this line to a dict
    data = json.loads(line)
    # extract what we want
    text = data['text']
    stars = data['stars']
    # add to the data collected so far
    all_data.append([stars, text])
# create the DataFrame
df1 = pd.DataFrame(all_data, columns=['stars','text'])
print(df1)
# df.to_hdf('revie20ws.h5','reviews')

ifile.close()

0
10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
       stars                                               text
0        4.0  Apparently Prides Osteria had a rough summer a...
1        4.0  This store is pretty good. Not as great as Wal...
2        5.0  I called WVM on the recommendation of a couple...
3        2.0  I've stayed at many Marriott and Renaissance M...
4        4.0  The food is always great here. The service fro...
...      ...                                                ...
99995    2.0  I figured I would try this place based on so m...
99996    4.0  We were there for lunch on April 26th. We opte...
99997    5.0  Stopped in here after returning from a trip. A...
99998    4.0  Who doesn't love Wendy's! This one however is ...
99999    1.0  Unfortunately this is one of the worst of the ...

[100000 rows x 2 columns]

In [ ]:
ifile = open('/content/drive/MyDrive/Colab Notebooks/business.json') 
# read the first 100k entries
# set to -1 to process everything
stop = 100000

all_data = list()
for i, line in enumerate(ifile):
    if i%10000==0:
        print(i)
    if i==stop:
        break    
    # convert the json on this line to a dict
    data = json.loads(line)
    # extract what we want
    latitude = data['latitude']
    longitude = data['longitude']
    # add to the data collected so far
    all_data.append([latitude, longitude])
# create the DataFrame
df2 = pd.DataFrame(all_data, columns=['latitude','longitude'])
print(df2)
# df.to_hdf('revie20ws.h5','reviews')

ifile.close()

0
10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
        latitude   longitude
0      40.017544 -105.283348
1      45.588906 -122.593331
2      45.511907 -122.613693
3      28.914482  -81.295979
4      33.747027  -84.353424
...          ...         ...
99995  28.300459  -81.238718
99996  42.283203  -71.049022
99997  30.391418  -97.731752
99998  40.059574  -83.048010
99999  45.524780 -122.645913

[100000 rows x 2 columns]